{% extends 'base0.html.twig' %}

{% block title %}Biographie de l'equipe{% endblock %}

{% block body %}

<!--==========================
  Speakers Section
============================-->
<section id="speakers" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Notre Equipe </h2>
      <p>Nous sommes des professionnels</p>
    </div>

    <div class="row">
      {% for biographie in biographies %}
      <div class="col-lg-4 col-md-6">
        <div class="speaker">
          <a href="{{ path('biographie_show',{'id': biographie.id})}}"><img src="{{asset('/img/formation/')}}{{ biographie.image }}" alt="Speaker 6" class="img-fluid"> </a>
          <div class="details">
            <h3><a href="{{ path('biographie_show', {'id': biographie.id}) }}">{{ biographie.nomprenoms}}</a></h3>
            <p>{{ biographie.grade}}</p>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}


    </div>
  </div>

</section>

    <!-- <h1>Biographie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomprenoms</th>
                <th>Fonction</th>
                <th>Annneedexperience</th>
                <th>Grade</th>
                <th>Operations</th>
                  <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for biographie in biographies %}
            <tr>
                <td>{{ biographie.id }}</td>
                <td>{{ biographie.nomprenoms }}</td>
                <td>{{ biographie.fonction }}</td>
                <td>{{ biographie.annneedexperience }}</td>
                <td>{{ biographie.grade }}</td>
                <td>{{ biographie.operations }}</td>
                <td>{{ biographie.image }}</td>
                <td>
                    <a href="{{ path('biographie_show', {'id': biographie.id}) }}">show</a>
                    <a href="{{ path('biographie_edit', {'id': biographie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('biographie_new') }}">Create new</a> -->
{% endblock %}
