{% extends 'base0.html.twig' %}

{% block title %}Biographie{% endblock %}

{% block body %}
<main id="main" class="main-page">

  <!--==========================
    Speaker Details Section
  ============================-->
  <section id="speakers-details" class="wow fadeIn">
    <div class="container">
      <div class="section-header">
        <h2>Biographie</h2>
        <p>professionnel</p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img src="{{asset('img/formation/')}}{{ biographie.image }}" alt="Speaker 1" class="img-fluid">
        </div>

        <div class="col-md-6">
          <div class="details">
            <h2>{{ biographie.nomprenoms }}</h2>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
            <p>Grade : {{ biographie.grade}}</p>
            <p>Fonction : {{ biographie.fonction}}</p>
            <p>années Experiences  : {{ biographie.annneedexperience}}</p>
            <p>Operations  : {{ biographie.operations}}</p>
          </div>
        </div>

      </div>
    </div>

  </section>

</main>


    <!-- <h1>Biographie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ biographie.id }}</td>
            </tr>
            <tr>
                <th>Nomprenoms</th>
                <td>{{ biographie.nomprenoms }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ biographie.fonction }}</td>
            </tr>
            <tr>
                <th>Annneedexperience</th>
                <td>{{ biographie.annneedexperience }}</td>
            </tr>
            <tr>
                <th>Grade</th>
                <td>{{ biographie.grade }}</td>
            </tr>
            <tr>
                <th>Operations</th>
                <td>{{ biographie.operations }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ biographie.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('biographie_index') }}">back to list</a>

    <a href="{{ path('biographie_edit', {'id': biographie.id}) }}">edit</a>

    {{ include('biographie/_delete_form.html.twig') }} -->
{% endblock %}
