{% extends 'base.html.twig' %}

{% block title %}Neutrex-int{% endblock %}

{% block body %}
<header class="header" id="header">
		<!--header-start-->
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img src=" {{ asset('img/vlogo.png') }} " alt="vlogo"></a>
			</figure>
			<h1 class="animated fadeInDown delay-07s" style="color:orange" >NEUTREX <span style="color:white">int</span></h1>
			<ul class="we-create animated fadeInUp delay-1s">
				<li> <h2 style="color:green" >Expertise in Motion</h2></li>
			</ul>
			<a class="link animated fadeInUp delay-1s servicelink" href="{{ path('contact_new')}}">Contactez-nous</a>
		</div>
	</header>
	<!--header-end-->

	<section class="main-section paddind" id="Portfolio">
		<!--main-section-start-->
		<div class="container">
			<h2>Formation à la gestion des risques associés aux explosifs,mines,munitions et à la menace terroriste</h2>
			<h3>Neutrex int</h3>
			<div class="portfolioFilter">
				<p>est une société basée à Abidjan en Côte d’Ivoire. Nous nous appuyons sur un groupe
d’expert multiculturel, qualifié, expérimenté, opérationnel et professionnel réunis par la passion de
la neutralisation des explosifs et un souci permanent de la qualité pour évoluer dans un monde plus
sure.</p>
			</div>

		</div>
		
	</section>
	<!--main-section-end-->

	<section class="main-section" id="service">
		<!--main-section-start-->
		<div class="container">
			<h2 style="color:green">Expertise</h2>
			<h6>Nous travaillons en étroite collaboration avec nos clients afin de déterminer quel sont les besoins et les buts opérationnel exact de nos expertises. <a href=" {{ asset('img/PlaquetteGeneraleNeutrex.pdf') }} "> Télécharger notre plaquette</a></h6> 
			<div class="row">
				<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
					<div class="service-list">
						<div class="service-list-col1">
							<img src="../img/MINE1.jpg" alt="mine">
						</div>
						<div class="service-list-col2">
							<h3>Zones minée</h3>
							{# <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p> #}
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<img src="../img/EODGren1.jpg" alt="mine">
						</div>
						<div class="service-list-col2">
							<h3>Reste d’explosif de guerre (REG)t</h3>
							{# <p>Proin iaculis purus consequat sem digni ssim. Digni ssim porttitora .</p> #}
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<img src="../img/PSSM1.jpg" alt="mine">
						</div>
						<div class="service-list-col2">
							<h3>Gestion du stockage des munitions</h3>
							{# <p>Proin iaculis purus consequat digni sem digni ssim. Purus donec porttitora entum.</p> #}
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<img src="../img/WAM1.jpg" alt="armes">
						</div>
						<div class="service-list-col2">
							<h3>Gestion du stockage des armes</h3>
							{# <p>Proin iaculis purus consequat sem digni ssim. Sem porttitora entum.</p> #}
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<img src="../img/EXPLO1.jpg" alt="mine">
						</div>
						<div class="service-list-col2">
							<h3>Engins Explosifs Improvisés (EEI)</h3>
							{# <p>Proin iaculis purus consequat sem digni ssim. Sem porttitora entum.</p> #}
						</div>
					</div>
					<div class="service-list">
						<div class="service-list-col1">
							<img src="../img/C-IED.jpg" alt="terroriste">
						</div>
						<div class="service-list-col2">
							<h3>Menace terroriste</h3>
							{# <p>Proin iaculis purus consequat sem digni ssim. Sem porttitora entum.</p> #}
						</div>
					</div>
				</div>
				<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
					<img src="img/23.jpg" alt="">
				</figure>

			</div>
		</div>
	</section>
	<!--main-section-end-->



	<section class="main-section alabaster">
		<!--main-section alabaster-start-->
		<div class="container">
			<div class="row">
				<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
					<img src="img/classew.jpg" alt="">
				</figure>
				<div class="col-lg-7 col-sm-8 featured-work">
					<h2 style="color:green">Formation</h2>
					<P class="padding-b">Nous diposons d'infrastructures innovantes et uniques. Nous bénéficions d'une cooperation technique avec les autorités nationale. <a href=" {{ asset('img/Plaquette1.pdf') }} "> Télécharger notre plaquette</a> </P>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<img src="img/FORMATION1.jpg" alt="FORMATION1"> 
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>Sensibilisation</h3>
							<p>Mines. </p>
							<p>Restes d'explosifs de guerre. </p>
							<p><a href=" {{ path('formation_index') }} ">Suite ...</a> </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<img src="img/EODGren1.jpg" alt="EODGren1"> 
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>NEDEX (EOD) niveau 1-2-3</h3>
							
							<p><a href="{{ path('formation_index') }}">Suite ...</a> </p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<img src="img/EODGren 2.jpg" alt="EODGren2">
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>NEDEX (EOD) niveau 3+</h3>
							<p>Chargement chimique. </p>
							<p>IEEI (IEDD). </p>
							<p><a href="{{ path('formation_index') }}">Suite ...</a> </p>
						</div>
						
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<img src="img/C-IED.jpg" alt="C-IED"> 
						</div>
						
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>Contre EEI (C- EID)</h3>
							<p>Fouille operationnelle. </p>
							<p>IEEI (IEDD). </p>
							<p><a href="{{ path('formation_index') }}">Suite ...</a> </p>
						</div>
					</div>
					
			</div>
		</div>
	</section>
	<!--main-section alabaster-end-->



	

	
	
	


	<section class="business-talking">
		<!--business-talking-start-->
		<div class="container">
			<h2>Partenaires.</h2>
		</div>
	</section>
	<div class="c-logo-part">
		<!--c-logo-part-start-->
		<div class="container">
			<ul>
				<li><a href="#"><img src="../img/part1.png" alt=""></a></li>
				
				<li><a href="#"><img src="../img/part2.png" alt=""></a></li>
				<li><a href="#"><img src="../img/part3.png" alt=""></a></li>
				<li><a href="#"><img src="../img/part4.png" alt=""></a></li>
				<li><a href="#"><img src="../img/part5.png" alt=""></a></li>
				<li><a href="#"><img src="../img/part6.png" alt=""></a></li>
				
			</ul>
		</div>
	</div>
	<!--c-logo-part-end-->
	<!--business-talking-end-->
	<div class="container">
		<section class="main-section contact" id="contact">

			<div class="row">
				<div class="col-lg-6 col-sm-7 wow fadeInLeft">
					<div class="contact-info-box address clearfix">
						<h3><i class=" icon-map-marker"></i>Address:</h3>
						<span>Abidjan<br>Cote d'Ivoire.</span>
					</div>
					<div class="contact-info-box phone clearfix">
						<h3><i class="fa fa-phone"></i>Téléphone:</h3>
						<span>+225 79 70 71 30</span>
					</div>
					<div class="contact-info-box email clearfix">
						<h3><i class="fa fa-pencil"></i>email:</h3>
						<span>info@neutrex-int.com</span>
					</div>
					{# <div class="contact-info-box hours clearfix">
						<h3><i class="fa fa-clock-o"></i>Hours:</h3>
						<span><strong>Monday - Thursday:</strong> 10am - 6pm<br><strong>Friday:</strong> People work on Fridays now?<br><strong>Saturday - Sunday:</strong> Best not to ask.</span>
					</div>
					 #}
				</div>
				
			</div>
		</section>
	</div>
{% endblock %}
