{% extends 'adminbase.html.twig' %}

{% block title %}Inscrit{% endblock %}

{% block body %}


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscrit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ inscrit.nom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ inscrit.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ inscrit.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ inscrit.adresse }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ inscrit.formation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('inscrit_index') }}">Retour</a>

   {#  <a href="{{ path('inscrit_edit', {'id': inscrit.id}) }}">edit</a> #}

   {#  {{ include('inscrit/_delete_form.html.twig') }} #}
{% endblock %}
